/* Estilo del cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

/* Estilos para el menú de navegación */
.navigation-menu {
  background-color: #333; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 20px; /* Espaciado interior */
  text-align: center; /* Centrar el texto en el menú */
}

.navigation-menu ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  display: inline; /* Para que los elementos de la lista estén en línea */
  margin-right: 20px; /* Espacio entre elementos de la lista */
}

.navigation-menu a {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #fff; /* Color del texto del enlace */
  font-weight: bold; /* Texto en negrita */
  font-size: 18px; /* Tamaño del texto */
  margin: 0 10px; /* Espacio entre elementos */
  padding: 5px 10px; /* Relleno para un aspecto de botón */
  border-radius: 5px; /* Bordes redondeados para un aspecto de botón */
  transition: background-color 0.3s; /* Transición suave en el cambio de color de fondo */
}

.navigation-menu a:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
}

/* Estilo para el enlace de cierre de sesión */
#logout-link {
  float: left;
  position: absolute;
}

#logout-button {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #fff; /* Color rojo para resaltar el enlace de cierre de sesión */
  font-weight: bold; /* Texto en negrita */
  font-size: 16px; /* Tamaño del texto */
}

#logout-button:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo del contenedor principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo del título */
h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

p {
  color: #555;
  text-align: center;
  margin: 20px 0;
}

/* Estilo de los campos de entrada y etiquetas */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:read-only {
  background-color: #f3f3f3;
}

/* Estilo del botón de actualización */
input[type="submit"],
button[type="submit"] {
  display: block;
  margin: 20px auto;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #555;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas de acciones (última columna) */
td:last-child {
  text-align: center;
}

/* Estilos para los enlaces de acciones */
.action-link {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.action-link:hover {
  text-decoration: underline;
  background-color: #555;
}

#user-info {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 20px 0;
}

#user-info p {
  margin: 0;
}

.index-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.index-menu li {
  margin-bottom: 10px;
}

.index-menu a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.index-menu a:hover {
  background-color: #555;
  color: #fff;
}
